## Exercises

### Exercises: Level 1

1. Iterate 0 to 10 using for loop, do the same using while loop.
2. Iterate 10 to 0 using for loop, do the same using while loop.
3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

   ```py
     #
     ##
     ###
     ####
     #####
     ######
     #######
   ```

4. Use nested loops to create the following:

   ```sh
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   ```

5. Print the following pattern:

   ```sh
   0 x 0 = 0
   1 x 1 = 1
   2 x 2 = 4
   3 x 3 = 9
   4 x 4 = 16
   5 x 5 = 25
   6 x 6 = 36
   7 x 7 = 49
   8 x 8 = 64
   9 x 9 = 81
   10 x 10 = 100
   ```

6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
7. Use for loop to iterate from 0 to 100 and print only even numbers
8. Use for loop to iterate from 0 to 100 and print only odd numbers
   
### Exercises: Level 2
    
1.  Use for loop to iterate from 0 to 100 and print the sum of all numbers.
    ```sh
    The sum of all numbers is 5050.
    ```

2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
    ```sh
    The sum of all evens is 2550. And the sum of all odds is 2500.
    ```

#Exercise 1

In [1]:
#Exercise 1.1

for i in range (11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
#Exercise 1.2

for i in range (10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [3]:
#Exercise 1.3

for i in range (1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

In [6]:
#Exercise 1.4

for i in range (1, 9):
    for j in range (1, 9):
        print('#', end = ' ')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [7]:
#Exercise 1.5

for i in range (11):
    print(f'{i} x {i} = {i*i}')

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [8]:
#Exercise 1.6

list = ['Python', 'Numpy','Pandas','Django', 'Flask']

for i in list:
    print(i)

Python
Numpy
Pandas
Django
Flask

In [9]:
#Exercise 1.7

for i in range(101):
    if i % 2 ==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [10]:
#Exercise 1.8

for i in range(101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#Exercise: Level 2

In [11]:
#Exercise 2.1

sum = 0
for i in range(101):
    sum += i

print(f'sum of all numbers is {sum}')

sum of all numbers is 5050

In [12]:
#Exercise 2.2

sum_even = 0
sum_odd = 0
for i in range(101):
    if i % 2 == 0:
        sum_even += i
    else:
        sum_odd += i

print(f'The sum of all evens is {sum_even}. And the sum of all odds is {sum_odd}')

The sum of all evens is 2550. And the sum of all odds is 2500